html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

div.title {
	display: table;
	content: "";
	margin: auto
	
} 

/* My stuff - Nav bar */
div.nav{
	text-align: center
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    display: inline-block
}

.nav li {
    float: left
}

.nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
.nav li a:hover {
    background-color: yellow;
}
/* End Nav Bar */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}